* {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

header {
    position: relative;
}

a:hover {
    color: #8bcc8b; /* Цвет ссылки при наведении на нее курсора мыши */  
}

nav {  /*задаем чисто шапку*/
    height: 50px;
    background-color: #212121;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 13px 70px;
    margin: 0;
    list-style-type: none /*отмена точек на списке*/
}

.menu_link {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 300; 
}

.menu_item {   /*черточки в навбаре*/
    border-right: 2px dotted black;
    padding-right: 43px;
}

.subheader {
    position: absolute;
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, .6); /*прозрачность фона но не букв*/  
}

.subheader_logo {
    max-width: 100%;
    display: block;
    margin-top: 17px;
}

.official {
    font-weight: 200;
    font-size: 15px;
    color:white;
    opacity: 0.5;
}

.call_us {
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: white;
    margin-top: 22px;
    text-transform: uppercase;
    text-align: right;
}

.phone_subheader {
    display: block;
    font-size: 27px;
    font-weight: 400;
    color: white;
    text-align: right;
    line-height: normal;
    margin-top: 8px;
}

.sub_btn {
    margin-left: 18px;
    margin-top: 19px;
    width: 192px;
    height: 56px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-transform: uppercase; /*стилизует текст*/
}

.promo {
    min-height: 800px;
    background: url(../img/uber_bg.png) center center/cover no-repeat; /*расположение покрытие и чтобы не повторяась*/
}

.promo_header {
    margin-top: 150px;
    font-weight: 900;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.promo_subheader {
    margin-bottom: 26px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.promo_text {
    font-size: 18px;
    line-height: 24px;
    font-weight: 300;
    text-align: center;
    color: #FFFFFF;
    
}

.promo_btn {
    display: block;
    width: 259px;
    height: 63px;
    margin: 115px auto 0 auto;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    text-transform: uppercase;
    color: white;
}

.black_space {
    margin: 18px auto 32px auto;
    width: 140px;
    height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    background: #000000;
    color: white;
}

.reasons_z {
    font-size: 38px;
    text-transform: uppercase;
    font-weight: 700;
    color: #222222;
    text-align: center;
    margin-bottom: 32px;
}

.reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    background: #1EACC7;
    border-radius: 100%;
    margin-right: 26px;
}

.reasons_space {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.reasons_descr {
    width: 343px;
   
}

.reasons_subtitle {
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400;
}

.reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
}